.decor {
  display: flex;
  position: absolute;
  top: 270px;
  left: 25px;
  gap: 60px;
  align-items: center;
  transform: rotate(-90deg);
  display: none;

  @include onTablet {
    display: none;
  }

  @include onDesktop {
    display: flex;
  }


  &__title {
    color: rgba(52, 79, 16, .5);
    font-family: $main-text-font-family;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    text-align: center;
    white-space: nowrap;
  }

  &__line {
    width: 1px;
    height: 100px;
    background-color: $second-text-color;
    transform: rotate(-90deg);
  }

  &-creators {
    display: flex;
    position: absolute;
    top: 56px;
    left: 40px;
    gap: 60px;
    align-items: center;
    transform: rotate(-90deg);
    display: none;

    @include onTablet {
      display: none;
    }

    @include onDesktop {
      display: flex;
    }
  }

  &__contact-us {
    display: flex;
    position: absolute;
    top: 28px;
    left: 70px;
    gap: 60px;
    align-items: center;
    transform: rotate(-90deg);
    display: none;

    @include onTablet {
      display: none;
    }

    @include onDesktop {
      display: flex;
    }
  }

  &-ingredients {
    display: flex;
    position: absolute;
    top: 28px;
    left: 70px;
    gap: 60px;
    align-items: center;
    transform: rotate(-90deg);
    display: none;

    @include onTablet {
      display: none;
    }

    @include onDesktop {
      display: flex;
    }
  }
}