.header {
  position: relative;
  padding-bottom: 0;


  @include onTablet {
    padding: 0;
  }

  @include onDesktop {
    padding-bottom: 200px;
  }

&__top-bar {
  padding-top: 40px;
  padding-bottom: 80px;
}

&__bottom {
  @include pageGrid;
  grid-auto-flow: column; 
}

&__photo {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

&__title {
  font-family: $main-text-font-family;
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;

  @include onTablet {
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    text-transform: capitalize;
  }

  @include onDesktop {
    font-size: 60px;
    line-height: 130%;
    text-align: left;
    margin-bottom: 30px;
  }
}

&__information {
  margin: 0;
  text-align: center;
  font-family: $main-text-font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 30px;

  @include onTablet {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
  }

  @include onDesktop {
    font-size: 16px;
    line-height: 150%;
    text-align: left;
    margin-bottom: 50px;
  }

}

&__button {
  display: flex;
  margin: 0 auto;
  width: 280px;
  height: 60px;
  background-color: $main-text-color;
  color: $color;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  justify-content: center;
  align-items: center;

  grid-column: 2/-2;
    
  @include onTablet {
    grid-column: 3/4;
  }
    
  @include onDesktop {
    grid-column: 2/6;
    margin: 0;
  }

  &:hover {
    scale: 105%;
    background-color: $beige-color;
    color: $main-text-color;
  }

  &:active {
    background-color: $background-color-button;
    color: $color;
    scale: 98%;
  }
}

&__img {
  grid-column: 1/-1;

  @include onTablet {
    grid-column: 1/-1;
  }

  @include onDesktop {
    top: 0;
    height: 450px;
    grid-row: 1;
    grid-column: 7/12;
  }
}

&__content {
    position: relative;
    grid-column: 1/-1;
      
    @include onTablet {
      grid-column: 2/-2;
    }
      
    @include onDesktop {
      grid-row: 1;
      grid-column: 2/span 5;
    }
  }
}

.header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: o;
    width: 40vw;
    border-bottom: 1px solid rgba(52, 79, 16, 0.50);
    display: none;

  @include onTablet{
    display: none;
  }

  @include onDesktop{
    display: flex;
  }
}
