.info {
  position: relative;
  padding: 100px 0;

  @include onTablet {
    padding: 100px 0 130px;
  }

  @include onDesktop {
    padding: 100px 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 40vw;
      border-bottom: 1px solid rgba(52, 79, 16, 0.5);
    }
  }

  &__content {
    @include pageGrid;
    display: grid;
  }

  &__title {
    font-family: $main-text-font-family;
    color: #344F10;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    text-align: left;
    grid-column: 1/-1;


    @include onTablet {
      text-align: center;
      grid-column: 3/5;
    }

    @include onDesktop {
      grid-column: 7/12;
    }

  }

  &__paragraf {
    color: $second-text-color;
    font-family: $main-text-font-family;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    display: none;

    @include onTablet {
      display: none;
    }

    @include onDesktop {
      display: block;
      grid-column: 2/6;
    }


  }
}