.nav {
  display: flex;

    &__list {
    display: flex;
    gap: 40px;
    list-style: none;
    padding-left: 0;
    display: none;

    @include onTablet {
        display: none;
    }

    @include onDesktop {
        display: flex;
    }
  }

  &__link {
    color: $second-text-color;
    font-family: $main-text-font-family;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
  }
}