.top-actions {
  padding: 15px 0;
  
  @include onTablet {
    padding: 20px 0;
  }
  
  @include onDesktop {
    padding: 40px 0;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  // &__close-btn {
  //   display: block;
  //   width: 25px;
  //   height: 25px;
  //   background-image: url(./../images/close-icon.png);
  //   background-position: center;
  //   background-repeat: no-repeat;
    
  //   transition: all 0.3s;
    
  //   &:hover {
  //     scale: 110%;
  //   }
  // } 
}