@mixin onDesktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 744px) and (max-width: 1279px) {
    @content;
  }
}

@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin pageGrid {
  --columns: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include onTablet {
    --columns: 6;
    column-gap: 30px;
  }

  @include onDesktop {
    --columns: 12;
    gap: 20px;
  }
}

@mixin contentPaddinngInline() {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 27px;
  }

  @include onDesktop {
    margin-inline: auto;
    padding-inline: 130px;
  }
}

.container {
  @include contentPaddinngInline;
  max-width: 1280px;
}
